<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<template id="category" th:fragment="category">
    <div>
        <div class="box">
            <div v-for="(p,index) in article" :key="index" class="articleBox1">
                <el-tag>
                    <router-link :to="p.articleId | articleFormat">{{p.article.title}}</router-link>
                </el-tag>
                <b>
                    <router-link :to="p.category.categoryId | categoryFormat">分类：{{p.category.categoryName}}
                    </router-link>
                </b>
                <p>{{p.article.desc}}</p>
            </div>
        </div>
        <div class="block">
            <el-pagination
                    layout="prev, pager, next"
                    :total="total"
                    :page-size="pageSize">
            </el-pagination>
        </div>
    </div>
</template>

<script th:fragment="script">
    const category = {
        template: "#category",
        data() {
            return {
                article: [],
                current: "",
                total: 0,
                pageSize: 10,
                articleUrl: '/api/article/list',
            }
        },
        methods: {
            fetchData() {
                console.log('路由发送变化doing...');
                const {current, pageSize} = this;
                axios.get(this.articleUrl, {
                    params: {
                        current: current,
                        pageSize: pageSize,
                        categoryId: this.$route.params.id
                    }
                })
                    .then((response) => {
                        this.article = response.data.records;
                        this.current = response.data.current;
                        this.total = response.data.total
                    });
            }
        },
        created() {
            const self = this;
            self.fetchData();
        },
        watch: {
            '$route': 'fetchData'
        }
    };
</script>
</body>

</html>